/* CSS Styles for FairTalk Website */
/* Color Palette */
:root {
    --bg-dark: #12161A;             /* Dark background for the website */
    --bg-card: #89CFF0;             /* light blue background for cards */
    --accent-navy blue: #1E3A8A;      /* Navy blue accent color for buttons and highlights */
    --accent-light blue: #3B82F6;     /* Lighter blue accent color for hover effects */
    --text-light: #f5f7fa;            /* white text color for readability */
    --text-muted:#A0AEC0;             /* Softer text color for less emphasis */
}

/*reset browser defaults*/
* {
    margin: 0;                         /* Remove default margin */
    padding: 0;                        /* Remove default padding */
    box-sizing: border-box;            /* Use border-box sizing for easier layout management */
}

body {
    background-color: var(--bg-dark);      /* Set the background color to dark */
    color: var(--text-light);              /* Set the text color to light for readability */
    font-family:'playfair display', serif; /* Use a serif font for a classic look */
    line-height: 1.6;                       /* Set line height for better readability */
    overflow-x: hidden;                     /* Prevent horizontal scrolling */
}
